%html
  %head
    %script{ :src => "https://www.google.com/jsapi", :type => "text/javascript" }
    %script
      = 'var stats = ' + JSON.dump(@stats)
    :javascript
      google.load("visualization", "1", { packages:["corechart"] });
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(stats);
        var chart = new google.visualization.AreaChart(document.getElementById('chart_total'));
        var options = {
        };
        chart.draw(data, options);
      }
  %body
    %h1= "Crowdfunding campaign 2012"
    #chart_total{ style: 'width: 100%; height: 560px;' }

